@import url(./global.css);
@import url(./reset.css);

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  height: 56px;
}

.menu_item{
  display: flex;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover{
  cursor: pointer;
}

.transparent_button{
  border: none;
  background-color: transparent
}

#left{
  justify-content: space-between;
  align-items: center;
  height: 24px;
  gap: 24px;
}

#center{
  height: 40px;
}

#center input{
  width: 348px;
  padding-left: 12px;
  border: 1px solid lightgray;
}

#center button{
  width: 57px;
  border: 1px solid lightgray;
}

#right{
  align-items: center;
  height: 34px;
  gap: 24px;
}

main{
  display: flex;
  flex-flow: row nowrap;
  min-height: 100vh;
  gap: 16px;
  margin-top: 24px;
  margin-left: 72px;
  margin-right: 12px;
  margin-bottom: 72px;
}

main article{
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

main article h1{
  font-size: 20px;
  font-weight: 600;
}

.video-container {
  width: 100%;
  max-width: 952px;
  aspect-ratio: 16 / 9;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.video-actions{
  display: flex;
  align-items: center;
  gap: 40px;
}

.video-actions button{
  gap: 8px;
}

.video-actions button p{
  font-weight: 600;
  font-size: 14px;
}

.channel-infos{
  display: flex;
  align-items: center;
  gap: 12px;
}

.channel-infos a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 14px;
}

.channel-infos p{
  font-size: 14px;
}

.description{
  width: 60%;
}

#visualizacoes_e_data{
  font-weight: 600;
  font-size: 14px;
}

#description{
  font-weight: 400;
  font-size: 14px;
  color: #515151;
}

aside{
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  gap: 16px;
}

aside section{
  display: flex;
  gap: 8px;
}

aside div{
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

aside p{
  font-size: 12px;
  color: #515151;
  font-weight: 400;
  width: 70%;
}

.titulos{
  width: 100%;
  color: black;
  font-size: 14px;
  font-weight: 600;
}

